<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%l][%t][%p]%m%n" />
		</layout>
	</appender>

	<appender name="ROOTOUT"
		class="com.huateng.boa.log4j.CustRollingFileAppender">
		<param name="File" value="/tmp/IBSCORE/app-out.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="100" />
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%l][%t][%p]%m%n" />
		</layout>
	</appender>

	<appender name="DEBUG"
		class="com.huateng.boa.log4j.CustRollingFileAppender">
		<param name="File" value="/tmp/IBSCORE/app-debug.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="100" />
		<param name="Encoding" value="UTF-8"/>
	<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%l][%t][%p]%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="DEBUG" />
		</filter>
	</appender>

	<appender name="INFO"
		class="com.huateng.boa.log4j.CustRollingFileAppender">
		<param name="File" value="/tmp/IBSCORE/app-info.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="100" />
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%l][%t][%p]%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="INFO" />
		</filter>
	</appender>

	<appender name="WARN"
		class="com.huateng.boa.log4j.CustRollingFileAppender">
		<param name="File" value="/tmp/IBSCORE/app-warn.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="100" />
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%l][%t][%p]%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<appender name="ERROR"
		class="com.huateng.boa.log4j.CustRollingFileAppender">
		<param name="File" value="/tmp/IBSCORE/app-error.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="100" />
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%l][%t][%p]%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
		</filter>
	</appender>

	<!-- System Init -->
	<appender name="SystemStartupAppender"
		class="com.huateng.boa.log4j.CustRollingFileAppender">
		<param name="File" value="/tmp/IBSCORE/SystemStartup.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="100" />
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d][%l][%t][%p]%m%n" />
		</layout>
	</appender>

    <logger name="com.huateng.ebank.framework.operation.orm">
        <level value="INFO"/>
        <appender-ref ref="INFO" />
        <appender-ref ref="WARN" />
        <appender-ref ref="ERROR" />
    </logger>
    
    <logger name="org.hibernate.engine.TwoPhaseLoad">
        <level value="INFO"/>
        <appender-ref ref="INFO" />
        <appender-ref ref="WARN" />
        <appender-ref ref="ERROR" />
    </logger>
    
    <logger name="org.hibernate.hql.ast">
        <level value="INFO"/>
        <appender-ref ref="INFO" />
        <appender-ref ref="WARN" />
        <appender-ref ref="ERROR" />
    </logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
        <appender-ref ref="ROOTOUT" />
        <appender-ref ref="DEBUG" />
        <appender-ref ref="ERROR" />
        <appender-ref ref="WARN" />
        <appender-ref ref="INFO" />
	</root>

</log4j:configuration>