@charset "utf-8";
/* CSS Document */
ul{ list-style:none;font-size: 12px;}
a{ color:#000000; text-decoration:none;font-weight:normal;font-size: 12px;}

#menu{ margin:0 0; margin-top:0px; height:29px;}
#menu li ul{ display:none;}
#menu li ul li{ float:none;}
*html #menu li ul li{ display:inline;}
#menu li ul a{ float:none; height:29px; line-height:29px; padding:0 10px; text-transform:capitalize;}
#menu .height-auto{line-height:15px; padding:5px 10px;}

.second-menu,.third-menu,.fourth-menu{position:absolute;z-index:999}
.first-menu li{ float:left; position:relative;}
.first-menu a{ white-space:nowrap; float:left;display:block; padding:0 6px; height:29px; line-height:29px; background:#71a0cf; border-top:1px solid #81aedc;border-left:1px solid #81aedc; border-bottom:1px solid #5081b0; border-right:1px solid #5081b0; font-size:12px;}
.first-menu a:hover{ background:#5bb4e5; border-top:1px solid #77ccfa;border-left:1px solid #77ccfa;color: #333;}

.second-menu{top:31px; left:0;width:160px;}
*html .second-menu{right:0px;}
.second-menu a{ font-size:12px;background-color: #71a0cf;}
.second-menu a.arrow{ background:#71a0cf url(../images/arrow_.gif) no-repeat 145px center;}
.second-menu a.arrow:hover{ background:#5bb4e5 url(../images/arrow_.gif) no-repeat 145px center;}

.second-menu a.arrow-02{ background:#71a0cf url(../images/arrow_.gif) no-repeat 145px center;}
.second-menu a.arrow-02:hover{ background:#5bb4e5 url(../images/arrow_.gif) no-repeat 145px center;}

.third-menu,.fourth-menu{width:160px;top:0; left:160px;}
.third-menu a{ background:#71a0cf; font-weight:normal;border-top:1px solid #81aedc;border-top:1px solid #81aedc;border-left:1px solid #81aedc; border-bottom:1px solid #5081b0; border-right:1px solid #5081b0;}

.second-menu li,.third-menu li,.fourth-menu li{z-index: 999}











