/* menu body */
.menu-body {	
	background-color:	#EDF2F6;	
	color:				black;
	margin:				0;
	padding:			0;
	overflow:			hidden;
	border:				0;
	cursor:				default;
}

.menu-body .outer-border {
	border:			1px solid;
	border-color:	ThreeDLightShadow ThreeDDarkShadow
					ThreeDDarkShadow ThreeDLightShadow;
}
.menu-body .inner-border {
	border:			1px solid;
					border-color:	#636563 #636563
					#636563 #636563;
	padding:		1px;
	width:			100%;
	height:			100%;
}
/* end menu body */

/* menu items */
.menu-body td {
	font-family: "ו", Arial;
	font-size: 12px;
}
.menu-body .hover {
	background-color:	#B9B9FF;
	color:				white;
}
.menu-body td.empty-icon-cell {
	padding:	0px 2px 0px 2px;
	border:		0;
}
.menu-body td.empty-icon-cell span {
	width:	5px;
}
.menu-body td.icon-cell {
	padding:	0px 2px 0px 2px;
	border:		0;
}
.menu-body td.icon-cell img {
	width:	16px;
	height:	16px;
	margin:	0;
}
.menu-body td.label-cell {
	width:		100%;
	padding:	1px 5px 0px 0px;
	font-size:	12px;
}
.menu-body td.shortcut-cell {
	padding:	0px 5px 0px 5px;
}
.menu-body td.arrow-cell {
	width:			20px;
	padding:		0px 2px 0px 0px;
	font-family:	Webdings;
	font-size:		80%;
}
/* end menu items */

/* disabled items */
.menu-body .disabled .disabled-container {
	color:				GrayText;
}
.menu-body .disabled .icon-cell .disabled-container,
.menu-body .disabled-hover .icon-cell .disabled-container {
	background:			GrayText;
	filter:				progid:DXImageTransform.Microsoft.Chroma(Color=#010101)
						DropShadow(color=ButtonHighlight, offx=1, offy=1);
	width:				100%;
	height:				100%;
}
.menu-body .disabled-hover .icon-cell .disabled-container {
	filter:				progid:DXImageTransform.Microsoft.Chroma(Color=#010101);
}
.menu-body .disabled .icon-cell .disabled-container .disabled-container,
.menu-body .disabled-hover .icon-cell .disabled-container .disabled-container {
	background:			Transparent;
	filter:				Mask(Color=#010101);
}
.menu-body .disabled-hover td {
	background-color:	Highlight;
	color:				GrayText;
}
/* end disabled items */

/* separator */
.menu-body td.separator {
	font-size:	0.001mm;
	padding:	4px 10px 4px 10px;
}
.menu-body .separator-line {
	overflow:		hidden;
	border-top:		1px solid ThreeDShadow;
	border-bottom:	1px solid ThreeDHighlight;
	height:			2px;
}
/* end separator */

/* Scroll buttons */

.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	font-family:	Webdings;
	text-align:		center;
	padding:		10px;
}
.menu-body #scroll-up-item,
.menu-body #scroll-down-item {
	width:		100%;
}
.menu-body #scroll-up-item td,
.menu-body #scroll-down-item td {
	font-family:	Webdings;
	text-align:		center;
	padding:		0px 5px 0px 5px;
	font-size:		10px;
}
/* end scroll buttons */

/* Menu Bar */
.menu-bar {
	background:		url("../images/mu01.jpg");
	cursor:			default;
	padding:		0px 0px;	
	margin: 		0px;   
	overflow: 	hidden;
}
.menu-bar .menu-button {	
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 7px;
	background-color: url(../images/ic02.jpg);
	style="filter: glow(color=#FFFFFF , strength=3);color: #24344E";
	clip: rect(auto,auto,auto,auto);
	font-weight: bold;
	display:	inline-block;
	font-size:		14px;
	color:		#FFFFFF;
	margin:		1px;
	white-space:	nowrap;
	cursor:			default;	
	border-left: 1px solid #d6d3ce;
}
.menu-bar .menu-button.active {
		color: #FFFFFF;
	text-decoration: none;
}
.menu-bar .menu-button.hover {
	color: #7F0000;
	text-decoration: underline;
}
.menu-bar .menu-button.disabled,
.menu-bar .menu-button.disabled-hover {
	color:		GrayText;
	border:		0 ;
	padding:	3px 7px 2px;	
}
/* End Menu Bar */