<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>IBSCORE</display-name>
  <description>IBSCORE</description>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            classpath:applicationContext_sqlserver.xml,
            classpath:security.xml,
            classpath:dao/*.xml,
            classpath:mng/*.xml,
		</param-value>
  </context-param>
  <context-param>
    <param-name>startJob</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>errorMessage</param-name>
    <param-value>resources/errorcode.properties</param-value>
  </context-param>
  <context-param>
    <param-name>sessionBetweenSessionTime</param-name>
    <param-value>6000000</param-value>
  </context-param>
  <filter>
    <filter-name>transfilter</filter-name>
    <filter-class>
            com.huateng.ebank.framework.web.TransFilter
        </filter-class>
    <init-param>
      <param-name>EXPIRED_PAGE</param-name>
      <param-value>/common/expired.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>/trans/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>*.ftl</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>transfilter</filter-name>
    <url-pattern>*.dwr</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>strutsFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.filter.StrutsSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>strutsFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>shiroFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetFilterLifecycle</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>shiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>urlFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.filter.UrlAuthorizationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>addHeaderFilterStatic</filter-name>
    <filter-class>com.huateng.ebank.framework.web.AddHeaderFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=604800,public</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>addHeaderFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.web.AddHeaderFilter</filter-class>
    <init-param>
      <param-name>X-Frame-Options</param-name>
      <param-value>SAMEORIGIN</param-value>
    </init-param>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>no-cache, no-store</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>com.huateng.ebank.framework.gzipfilter.GZIPFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Check Request Form Submit</filter-name>
    <filter-class>com.huateng.mvc.filter.XssFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Check Request Form Submit</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.ftl</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>addHeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>urlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			com.huateng.ebank.framework.servlet.listener.ContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			com.huateng.ebank.framework.servlet.listener.ApplicationListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>
        	com.huateng.ebank.business.remote.base.SessionListener
		</listener-class>
  </listener>
  <servlet>
    <servlet-name>CommQueryInterfaceServlet</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.web.commQuery.BankCommQueryInterfaceServlet
		</servlet-class>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/common/errorPage.ftl</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>CommQueryResultServlet</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.web.commQuery.BankCommQueryResultServlet
		</servlet-class>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/common/errorPage.ftl</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>commQuery</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.web.commQuery.BankCommQueryServlet
		</servlet-class>
    <init-param>
      <param-name>CommonQueryConfigLocation</param-name>
      <param-value>
				/WEB-INF/query/meta/CommQryMeta.xml,
				/WEB-INF/query/meta/managementMeta.xml,
				/WEB-INF/query/meta/parammng.xml,
				/WEB-INF/query/meta/sysMngMeta.xml,
				/WEB-INF/query/meta/dataAuditMeta.xml,
                /WEB-INF/query/meta/systemMeta.xml,
                /WEB-INF/query/meta/msgMeta.xml,
                /WEB-INF/query/meta/schedulerMeta.xml
			</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>
			com.huateng.ebank.framework.servlet.BankHTFreemarkServlet
		</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>9</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
    <init-param>
      <param-name>config-0</param-name>
      <param-value>/WEB-INF/dwr.xml</param-value>
    </init-param>
    <init-param>
      <param-name>maxCallCount</param-name>
      <param-value>100</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>pollAndCometEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>initApplicationScopeCreatorsAtStartup</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>maxWaitAfterWrite</param-name>
      <param-value>500</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commQuery</servlet-name>
    <url-pattern>/trans/CommQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommQueryInterfaceServlet</servlet-name>
    <url-pattern>/trans/CommQueryInterfaceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommQueryResultServlet</servlet-name>
    <url-pattern>/trans/CommQueryResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nonWorkhourFileUploadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.customer.action.nonWorkhourFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nonWorkhourFileUploadServlet</servlet-name>
    <url-pattern>/nonWorkhourFileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransDataAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.commQuery.TransDataAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransDataAction</servlet-name>
    <url-pattern>/trans/TransDataAction.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.servlet.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/filedownload/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.huateng.ebank.business.management.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/custlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QryExpAction</servlet-name>
    <servlet-class>com.huateng.ebank.framework.web.struts.QryExpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QryExpAction</servlet-name>
    <url-pattern>/trans/qryExp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.huateng.ebank.business.management.action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/custlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/credit.mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>*.spring</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PermitUploadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.customer.action.PermitUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermitUploadServlet</servlet-name>
    <url-pattern>/PermitUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileGroupUploadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.customer.action.FileGroupUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileGroupUploadServlet</servlet-name>
    <url-pattern>/FileGroupUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommonFileGroupUploadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.customer.action.CommonFileGroupUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonFileGroupUploadServlet</servlet-name>
    <url-pattern>/CommonFileGroupUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatrixUploadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.customer.action.MatrixUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatrixUploadServlet</servlet-name>
    <url-pattern>/MatrixUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PermitUploadServletN</servlet-name>
    <servlet-class>com.huateng.ebank.business.customer.action.PermitUploadServletN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermitUploadServletN</servlet-name>
    <url-pattern>/PermitUploadServletN</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TcorpPermitUploadServlet</servlet-name>
    <servlet-class>com.huateng.ebank.business.customer.action.TcorpPermitUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TcorpPermitUploadServlet</servlet-name>
    <url-pattern>/TcorpPermitUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TcorpPermitUploadServletN</servlet-name>
    <servlet-class>com.huateng.ebank.business.customer.action.TcorpPermitUploadServletN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TcorpPermitUploadServletN</servlet-name>
    <url-pattern>/TcorpPermitUploadServletN</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TcorpPermitUploadServletN2</servlet-name>
    <servlet-class>com.huateng.ebank.business.customer.action.TcorpPermitUploadServletN2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TcorpPermitUploadServletN2</servlet-name>
    <url-pattern>/TcorpPermitUploadServletN2</url-pattern>
  </servlet-mapping>
  <!--    脱敏 二代企业征信报告 -->
  <servlet>
    <servlet-name>CorpReportServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CorpReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpReportServlet</servlet-name>
    <url-pattern>/CorpReportServlet</url-pattern>
  </servlet-mapping>
   <!--    原始 二代企业征信报告 -->
  <servlet>
    <servlet-name>CorpReportServlet2</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CorpReportServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpReportServlet2</servlet-name>
    <url-pattern>/CorpReportServlet2</url-pattern>
  </servlet-mapping>
  <!--    企业信息核验 -->
  <servlet>
    <servlet-name>CorpReportServlet3</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CorpReportServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpReportServlet3</servlet-name>
    <url-pattern>/CorpReportServlet3</url-pattern>
  </servlet-mapping>
  <!--    企业一般信息展开(二级)-->
  <servlet>
    <servlet-name>CorpReportServlet4</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CorpReportServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpReportServlet4</servlet-name>
    <url-pattern>/CorpReportServlet4</url-pattern>
  </servlet-mapping>
  <!--    企业明细信息展开-->
  <servlet>
    <servlet-name>CorpReportServlet5</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CorpReportServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpReportServlet5</servlet-name>
    <url-pattern>/CorpReportServlet5</url-pattern>
  </servlet-mapping>
  <!--    二代企业信息汇总-->
  <servlet>
    <servlet-name>CorpReportServlet7</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CorpReportServlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorpReportServlet7</servlet-name>
    <url-pattern>/CorpReportServlet7</url-pattern>
  </servlet-mapping>
 <!-- 个人 -->
 <!--    脱敏 二代个人征信报告 -->
  <servlet>
    <servlet-name>PersonalReportServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.PersonalReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalReportServlet</servlet-name>
    <url-pattern>/PersonalReportServlet</url-pattern>
  </servlet-mapping>
   <!--    原始 二代个人征信报告 -->
  <servlet>
    <servlet-name>PersonalReportServlet2</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.PersonalReportServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalReportServlet2</servlet-name>
    <url-pattern>/PersonalReportServlet2</url-pattern>
  </servlet-mapping>
   <!--  个人信息核验 -->
  <servlet>
    <servlet-name>PersonalReportServlet3</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.PersonalReportServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalReportServlet3</servlet-name>
    <url-pattern>/PersonalReportServlet3</url-pattern>
  </servlet-mapping>
   <!--  个人汇总报告 -->
  <servlet>
    <servlet-name>PersonalReportServlet4</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.PersonalReportServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalReportServlet4</servlet-name>
    <url-pattern>/PersonalReportServlet4</url-pattern>
  </servlet-mapping>
  <!--  二代个人信贷交易明细 -->
  <servlet>
    <servlet-name>PersonalReportServlet6</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.PersonalReportServlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalReportServlet6</servlet-name>
    <url-pattern>/PersonalReportServlet6</url-pattern>
  </servlet-mapping>
   <!--  二代个人信息汇总 -->
  <servlet>
    <servlet-name>PersonalReportServlet7</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.PersonalReportServlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalReportServlet7</servlet-name>
    <url-pattern>/PersonalReportServlet7</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrmsFileUploadServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CrmsFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrmsFileUploadServlet</servlet-name>
    <url-pattern>/CrmsFileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrmsBatchCorpServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CrmsBatchCorpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrmsBatchCorpServlet</servlet-name>
    <url-pattern>/CrmsBatchCorpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrmsBatchPersonalServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CrmsBatchPersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrmsBatchPersonalServlet</servlet-name>
    <url-pattern>/CrmsBatchPersonalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileXLSXDownloadServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.FileXLSXDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileXLSXDownloadServlet</servlet-name>
    <url-pattern>/FileXLSXDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommFileXLSXDownloadServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CommFileXLSXDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommFileXLSXDownloadServlet</servlet-name>
    <url-pattern>/CommFileXLSXDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataExtractionServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.DataExtractionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataExtractionServlet</servlet-name>
    <url-pattern>/DataExtractionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BatchDataExtractionServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.BatchDataExtractionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchDataExtractionServlet</servlet-name>
    <url-pattern>/BatchDataExtractionServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>CertFileXLSXDownloadServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.CertFileXLSXDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertFileXLSXDownloadServlet</servlet-name>
    <url-pattern>/CertFileXLSXDownloadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/login/login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/common/error.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>/tags/application-tags</taglib-uri>
      <taglib-location>/WEB-INF/app.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-bean</taglib-uri>
      <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-html</taglib-uri>
      <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>
				/WEB-INF/struts-config.xml,
			</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>4</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadZipServlet</display-name>
    <servlet-name>DownloadZipServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.DownloadZipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadZipServlet</servlet-name>
    <url-pattern>/DownloadZipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchPersonalDataExtractionServlet</display-name>
    <servlet-name>BatchPersonalDataExtractionServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.BatchPersonalDataExtractionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchPersonalDataExtractionServlet</servlet-name>
    <url-pattern>/BatchPersonalDataExtractionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalDataExtractionServlet</display-name>
    <servlet-name>PersonalDataExtractionServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.PersonalDataExtractionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalDataExtractionServlet</servlet-name>
    <url-pattern>/PersonalDataExtractionServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DownloadGenZipServlet</display-name>
    <servlet-name>DownloadGenZipServlet</servlet-name>
    <servlet-class>com.huateng.report.pboc.servlet.DownloadGenZipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadGenZipServlet</servlet-name>
    <url-pattern>/DownloadGenZipServlet</url-pattern>
  </servlet-mapping>
</web-app>